@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	background: linear-gradient(-45deg, #ee7752, #0ad465, #9d23d5, #2893a1);
	background-size: 1000% 1000%;
    animation: gradient 10s ease infinite;
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.heading{
    text-align: center;
    background-color: #373b41aa ;
    padding: 20px;
    border-radius: 30px 100px;
}

.class-text{
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 800;
}

footer{
    padding-top: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    background-color: #373b4188;
}

ul {
  list-style-type: none;
  width: 700px;
  height: auto;
  margin: 30px auto;
  line-height: 2rem;
  font-size: 1.3rem;
}

ul li {
  padding: 10px 0;
  border-bottom: 1px solid #add8e6;
  text-align: center;
  transition: margin-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
  -webkit-transition: margin-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
  -moz-transition: margin-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
  -o-transition: margin-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
  -ms-transition: margin-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
}

ul li:first-child {
   border-top: 1px solid red;
}

ul li:hover {
  margin-left: 20px;
  font-weight: 600;
  color: #add8e6;
}

.link-button {
    font-size: 20px;
    font-weight: 400;
    background: none;
    border: none;
    color: #000000;
    text-decoration: none;
    cursor: pointer; 
    display: inline-block;
}

button:focus{
    outline: none !important;
    box-shadow: none !important;
}

.classes-list{
    margin: 80px 300px;
    padding: 20px 50px;
    border-radius: 15px;
    background-color: #373b4188;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"]{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"]{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked{
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}